@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&family=Raleway&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Raleway', sans-serif;
}
body{
    background: linear-gradient(312deg, rgba(255,107,25,0.5) 0%, rgba(221,44,255,0.5) 16%, rgba(232,156,31,0.5) 42%, rgba(255,244,102,0.5) 64%, rgba(137,72,249,0.5) 83%, rgba(240,56,56,0.5) 100%);

}

h1{
    color: rgb(50, 6, 90);
    size: 2em;
}

h2{
    size: 1.5em;
    background: linear-gradient(312deg, rgba(255,107,25,0.5) 0%, rgba(221,44,255,0.5) 16%, rgba(232,156,31,0.5) 42%, rgba(255,244,102,0.5) 64%, rgba(137,72,249,0.5) 83%, rgba(240,56,56,0.5) 100%);

}
h3{
    size: 1.4em;
    background: linear-gradient(312deg, rgba(255,107,25,0.5) 0%, rgba(221,44,255,0.5) 16%, rgba(232,156,31,0.5) 42%, rgba(255,244,102,0.5) 64%, rgba(137,72,249,0.5) 83%, rgba(240,56,56,0.5) 100%);

}
h4{
    size: 1.2em;
    background: linear-gradient(312deg, rgba(255,107,25,0.5) 0%, rgba(221,44,255,0.5) 16%, rgba(232,156,31,0.5) 42%, rgba(255,244,102,0.5) 64%, rgba(137,72,249,0.5) 83%, rgba(240,56,56,0.5) 100%);

}

img{
    height: 200px;
}

footer{
    color: rgb(50, 6, 90);
    size: .7em;
    font-weight: bold;

}